@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "fonts/fonts.scss";

* {
	font-family: SFMono, consolas, monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: var(--secondary-color) var(--bg-color);
	scrollbar-width: thin;
}

body {
	font: var(--font-m);
	color: var(--primary-text-color);
}

input {
	font: var(--font-m);
}

.app {
	background: var(--bg-color);
	min-height: 100vh;
}

.content-page {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	margin-left: var(--sidebar-width-collapsed);
	padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}