.loader-size-m {
	width: var(--loader-size-m);
	height: var(--loader-size-m);
	border: calc(var((--loader-size-m)) * 0.1) dotted var(--accent-color);
}

.loader-size-s {
	width: var(--loader-size-s);
	height: var(--loader-size-s);
	border: calc(var((--loader-size-s)) * 0.1) dotted var(--accent-color);
}

.loader {
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 3s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
