.Text {
}

.title {
	margin: auto 0;
	font: var(--font-l);
	font-weight: bold;
	color: var(--primary-text-color);
}

.p {
	margin: auto 0;
	font: var(--font-m);
	color: var(--secondary-text-color);
}

.error {
	color: var(--error-color);
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}
