.green {
	--accent-color: var(--green-color);
}

.red {
	--accent-color: var(--red-color);
}

// .inverted {
// 	--primary-text-color: var(--inverted-primary-text-color);
// }

.Button {
	color: #fff;
	font: var(--font-m);
	padding: 4px 10px;
	border: 2px solid var(--accent-color);
	border-radius: 3rem;
	background: var(--accent-color);
	transition:
		transform 0.1s ease-in-out,
		box-shadow 0.2s ease,
		border 0.2s ease,
		background-color 0.2s ease,
		color 0.2s ease,
		opacity 0.2s ease;
	cursor: pointer;

	&:hover {
		background: var(--accent-color);
		box-shadow:
			0 0 5px var(--accent-color),
			0 0 20px var(--accent-color),
			0 0 50px var(--accent-color);
		border: 2px solid var(--accent-color);
	}

	&:active {
		transform: scale(0.9);
	}

	&:focus-visible {
		background: var(--accent-color);
		box-shadow:
			0 0 5px var(--accent-color),
			0 0 20px var(--accent-color),
			0 0 50px var(--accent-color);
		border: 2px solid var(--accent-color);
		outline: none;
	}
}

.clear {
	color: var(--accent-color);
	border: none;
	background: none;
	outline: none;

	&:is(:hover, :focus-visible) {
		// padding: 0;
		box-shadow: none;
		border: none;
		background: var(--bg-color-accent);
	}
}

.outline {
	color: var(--primary-text-color);
	border: 2px solid var(--accent-color);
	background: none;

	&:hover {
		background: none;
	}

	&:focus-visible {
		background: none;
	}
}

.icon {
	width: 32px;
	height: 32px;
	padding: 4px;
	border: none;
	background: none;
	outline: none;
	align-self: center;
	color: var(--accent-color);

	&:is(:hover, :focus-visible) {
		box-shadow: none;
		border: none;
		background: var(--bg-color-accent);
	}
}

.iconWithText {
	border: none;
	background: none;
	outline: none;
	align-self: center;
	padding: 0 0.625rem 0 0.375rem;
	color: var(--primary-text-color);
	width: fit-content;
	display: flex;
	align-items: center;

	&:is(:hover, :focus-visible) {
		box-shadow: none;
		border: none;
		background: var(--bg-color-accent);
	}

	svg {
		color: var(--accent-color);
		padding: 0.25rem;
		height: 2rem;
		width: 2rem;
	}
}

.disabled {
	opacity: 0.6;

	&:is(:hover, :focus-visible) {
		box-shadow: none;
	}
}

.m {
	min-width: 7rem;
}

.l {
	min-width: 9rem;
}

.s {
	min-width: 5rem;
}
