.Button {
	cursor: pointer;
}

.clear {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none;
}

.default {
	color: var(--primary-color);
}

.outline {
	padding: 10px;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: none;
}

.icon {
	margin: 0 auto;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	align-self: center;
	width: 30px;
	height: 30px;
}
