.Button {
	color: var(--primary-color);
	cursor: pointer;
}

.clear,
.clearInverted {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none;
	font-size: var(--font-m);
}

.clearInverted {
	color: var(--inverted-primary-color);
}

.outline,
.outlineInverted {
	padding: 10px;
	border: 1px solid var(--primary-color);
	background: none;
}

.outlineInverted {
	color: var(--inverted-primary-color);
	border: 1px solid var(--inverted-primary-color);
}

.icon,
.iconInverted {
	margin: 0 auto;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	align-self: center;
	width: 30px;
	height: 30px;
}

.iconInverted {
	color: var(--inverted-primary-color);
}

.disabled {
	opacity: 0.5;
}
