.Avatar {
	object-fit: cover;
	background-size: cover;
	border-radius: 52%;
	background-position: center;
}

.letter {
	min-width: 100%;
	min-height: 100%;

	text {
		font-size: 40px;
		font-weight: bold;
		fill: var(--bg-color);
	}
}

.m {
	height: 128px;
	width: 128px;
}

.s {
	height: 40px;
	width: 40px;
}

.l {
	height: 256px;
	width: 256px;
}
