.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background: var(--bg-color-transparent);
	position: fixed;
	top: var(--navbar-height);
	left: 0;
	z-index: 999;
	backdrop-filter: var(--backdrop-filter);
	box-shadow: inset -1px 0 0 0 var(--secondary-color);
}

.collapsed {
	transition: width 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
	width: var(--sidebar-width-collapsed);
}
