.item {
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	padding: 4px;
	border-radius: 5px;

	&:hover {
		background: var(--bg-color-hover);
	}

	svg {
		color: var(--accent-color);

		&:hover {
			transition: color 0.3s ease;
		}
	}
}

.link {
	margin-left: 1rem;
	white-space: nowrap;
	width: 8rem;
	transition: 0.25s transform;
	transform: scale(1);
}

.icon {
	width: 32px;

	// max-width: 60px;
}

.collapsed {
	margin-left: -10px;
	width: 0;
	transform: scale(0);
}
