.Input {
	color: var(--primary-text-color);
	background: transparent;
	border: 2px solid var(--accent-color);
	border-radius: 20px;
	padding: 8px 10px;
	transition: box-shadow 0.4s ease;
	user-select: none;
	font: var(--font-m);

	&::placeholder {
		color: var(--secondary-text-color);
		opacity: 0.8;
	}

	&:hover {
		box-shadow:
			0 0 5px var(--accent-color),
			0 0 10px var(--accent-color),
			0 0 20px var(--accent-color);
	}

	&:focus {
		box-shadow:
			0 0 5px var(--accent-color),
			0 0 20px var(--accent-color),
			0 0 50px var(--accent-color);
		outline: none;
	}
}
