.app_dark_theme {
	--bg-color: rgba(13 13 8);
	--bg-transparent-color: rgba(13 13 8 / 60%);
	--sidebar-bg: rgba(13 13 8 / 60%);
	// --primary-color: ;
	--secondary-color: #232321;
	--primary-text-color: #FFFFFF;
	--secondary-text-color: #E1E1E1;
	--inverted-bg-color: #FFFFFF;
	// --inverted-primary-color: ;
	--inverted-secondary-color: #DCDCDA;
	--inverted-primary-text-color:#000000;
	--inverted-secondary-text-color:#1E1E1E;
	--overlay-color: rgba(13 13 8 / 80%);
}
