.app_dark_theme {
	--bg-color: rgba(13 13 8);
	--bg-color-transparent: rgba(13 13 8 / 60%);
	--bg-color-hover: rgba(25 133 161 / 25%);

	// --primary-color: ;
	--secondary-color: #282823;
	--primary-text-color: #fff;
	--secondary-text-color: #e1e1e1;
	--inverted-bg-color: #fff;

	// --inverted-primary-color: ;
	--inverted-secondary-color: #dcdcda;
	--inverted-primary-text-color: #000;
	--inverted-secondary-text-color: #1e1e1e;
	--overlay-color: rgba(13 13 8 / 80%);
	--skeleton-bg-color: #0d0d07;
}
