.ProfileSettings {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	margin: 10px auto;

	input {
		font-size: 20px;
		font-weight: 500;
		margin-top: 10px;
		width: 90%;
		min-width: 250px;
	}
}

.editBtns {
	margin: 10px auto;
	display: block;
}

.btn {
	margin: 5px;
}

.label {
	margin-bottom: 10px;
	display: block;

	:nth-child(2):is(p) {
		font-size: 20px;
		margin: 19.5px 0 20px 11.5px;
		font-weight: 500;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.data {
	flex: 1;
}

.avatar {
	flex: 1;

	img,
	div {
		margin-top: 20px;
	}
}

.loading,
.error {
	display: flex;
	align-items: center;
	justify-content: center;
}

.errorMessagge {
	font: var(--font-m);
}