.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
}

.links {
	text-align: center;
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	gap: 10px;
}

.switchers {
	display: flex;
	justify-content: space-around;

	/* width: 100%; */
}
