.CommentCard {
	width: 100%;
	margin-block: 0.250rem;
}

.commentBody {
	color: var(--primary-text-color);
	margin-left: 3.125rem;
}

.commentInfo {
	margin-left: 2.875rem;
	margin-top: 0.5rem;
	display: flex;
	flex-wrap: wrap;

	.votes {
		display: flex;
		align-items: center;

		.upvote {
			width: 32px;
			height: 32px;

			&:hover {
				color: var(--green-color);
			}
		}

		.downvote {
			width: 32px;
			height: 32px;

			svg {
				transform: scale(-1, -1);
			}

			&:hover {
				color: var(--red-color);
			}
		}
	}

	.actionsBtn {
		margin-left: auto;

		svg {
			transform: scale(0.6);
		}
	}
}

.userInfoSkeleton {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.avatarSkeleton {
	width: 40px;
	height: 40px;
	border-radius: 52%;
}

.usernameSkeleton {
	width: 100%;
	max-width: 8rem;
	height: 0.75rem;
	margin-inline: 0.625rem;
}

.commentSkeleton {
	margin-left: 3.125rem;
	height: 40px;
}

.commentInfoSkeleton {
	margin-left: 3.125rem;
	margin-top: 0.5rem;
	max-width: 10rem;
	height: 28px;
}